########################
### App & Security
.env
html/.config.php
secure

########################
### IDE
.idea/
/.idea
/*.iml
/nbproject/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

########################
### COMPOSER
/vendor/
!/composer.json
composer.lock

########################
### App logs
html/logs

########################
### Documentation
docs

########################
### OS
.DS_Store

########################
### In HTML static files
html/node_modules/
html/vendor/
html/composer.lock
html/tests/mocks/database/ci_test.sqlite
